*{
    margin: 0;
    padding: 0;
}

body {
    color: rgba(1, 66, 44, 0.493);
}



h1 {
    font-family: 'Rock Salt', cursive;
    align-content: center;
    color: antiquewhite;
}

#showcase {
    background-image: url('img/showcaseD20.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 0 20px;
}

#showcase h1{
    font-size: 50px;
}

#rollbuttin {
    padding: 1rem;
    align-items: right;
    justify-content: start;
}

.style {
    padding: 0;
    padding-bottom: 40px;
    border: none;
}

